*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
div.is-disabled{
  pointer-events: none;
  opacity: 0.7;
}
.App{
    background: -webkit-linear-gradient(right, rgba(250,250,250,.9), rgba(250,250,250,.8)) ,url("../img/game-bg.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-container{
    li{
        color: white;
        padding: 10px 0;
        margin: 10px 0;
        text-align: center;
        width: 15rem;
        border-radius: 10px;
        font-size: 1.3rem;
    }li:hover{
        cursor: pointer;
    }
}
button{
    background: transparent;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 7px;
}